.blur-on {
    animation-name: blurOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes blurOn {
    0% {filter: blur(0rem); opacity: 1;}
    99% {filter: blur(0.5rem); opacity: 0; transform: scale(1);}
    100% {transform: scale(0)}
}

.blur-off {
    display: block;
    animation-name: blurOff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes blurOff {
    0% {filter: blur(0.5rem); opacity: 0; transform: scale(1)}
    99% {filter: blur(0rem); opacity: 1;}
    100% {opacity: 1;}
}

@keyframes glow {
    0% {filter: drop-shadow(0px 0px 6px $h);}
    50% {filter: drop-shadow(0px 0px 10px $a);}
    100% {filter: drop-shadow(0px 0px 6px $h);}
}